apiVersion: v1
stringData:
  DEBUG: "false"
  LOG_LEVEL: "INFO"
  EMAIL: myemail@gmail.com
  PASSWORD: "mypassword!"
  PIN: "1234"
  CLIENTID: "generate-a-client-id"
  CLIENTNAME: "mqttbridge"
  DEVICEID: "" # This is the id of your central.
  MQTT_HOST: mqtt # This tipically point to your home assistant mqtt broker.
  MQTT_PORT: "6379"
  MQTT_USER: admin 
  MQTT_PASS: password
  MQTT_KEEPALIVE: "60"
  MQTT_QOS: "0"
  MQTT_TOPIC: "python/test" #unused
  REDIS_HOST: redis

kind: Secret
metadata:
  labels:
    group: inim-mqtt
  name: inim-mqtt