{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 40.69144210646147,
    "longitude": -74.01600837707521,
    "elevation": 100,
    "unit_system_v2": "metric",
    "location_name": "demo",
    "time_zone": "America/Los_Angeles",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}